body {
    background-color: lightcoral;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
}

 h1 {
     font-size: 35px;
     color: black;
     margin-bottom: 20px;
     margin-top: 10px;
     text-align: center;
 }

 #canvas-board {
    border: 2px solid black;
 }

 .instruction {
    font-size: 20px;
    text-align: center;
 }

 .arrows-img {
     width: 160px;
     height: auto;
 }

 body button {
     font-size: 40px;
     background-color: #4766f0;
     color: #fff;
 }

 .instruction {
     margin-bottom: 20px;
 }

 .arrows-img {
    margin-bottom: 70px;
 }