body {
  background-color: #d58564;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.container {
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  background-image: url("../images/amsterdam_canal.png");
  background-position: center;
  background-size: cover;
}

h1 {
  display: inline-block;
  font-size: 35px;
  color: black;
  /* margin-bottom: 50px; */
  margin-top: 30px;
  text-align: center;
  color: #522a2e;
  background-color: #ffc68c;
  padding: 5px 5px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
}

#canvas-board {
  border: 0px solid black;
  background-image: url("../images/amsterdam_canal.png");
  background-size: cover;
  background-repeat: none;
}

.instruction {
  font-size: 20px;
  text-align: center;
  color: #522a2e;
  width: 250px;
  background-color: #ffc68c;
  padding: 5px 5px;
  /* border: 0; */
  box-shadow: 0;
  border-radius: 5px;
  /* margin-top: auto; */
  /* margin-bottom: 20px;*/
  margin-right: 4%;
}

#start-button {
  font-size: 30px;
  background-color: #ffc68c;
  border: none;
  color: #522a2e;
  font-weight: 800;
  border: 0;
  box-shadow: 0;
  margin-left: 4%;
}

.gameIntro {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#resetButton {
  font-size: 40px;
  background-color: #9b5b4a;
  border: none;
  color: white;
  font-weight: 800;
  padding: 10px 10px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  width: 300px;
}

.reset {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px;
  background-color: #ffc68c;
}

.canvas {
  display: none;
}

.reset h1 {
  font-size: 60px;
  color: #9b5b4a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.reset h4 {
  font-size: 30px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
